<h1>Stupid Coaching</h1>

<%# <input type="text"
  name="question"
  value="<%= params[:question] %>
<div>
  <%= @user_question %>
  <h3>- You</h3>
</div>


<%= @answer %>
<h3>- Coach</h3>


<%= link_to "Ask a new question", ask_path %>
